body{
	font-family: Avenir;
}

.navbar-custom{
	color: black;
	background-color: white;
}

.navbar-nav > li{
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.brand-style{
    overflow: visible;
    padding-top: 5px;
    padding-bottom: 0;
}

@font-face{
	font-family: Avenir;
	src: url('resources/fonts/avenir-lt-std/AvenirLTStd-Light.otf');
}

@font-face{
	font-family: Avenir;
	src: url('resources/fonts/avenir-lt-std/AvenirLTStd-Book.otf');
	font-weight: bold;
}
